.v-alert{
	text-align: center;
	@include corners;
	font-weight: bold;
	margin: 10% auto;
}

.drop-down{
	font-size: 16px;
	.v-input__slot{
		text-align: center;
		@include corners;
		font-weight: bold;
	}
}

// Toggle Switchs
.v-input--switch{
	width: 45%;
	.v-input__slot{
		flex-flow: row-reverse;
		.v-input--selection-controls__input{
			@include corners;
		}
	}
}


.v-card{
	background: $bg-primary;
	margin: 30px auto;
	padding: 5% 20px;
	/* display: flex; */
	width: 400px;
}
